.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 15px;
    margin-left: 10px;
}

.products-container{
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.cart-container{
    background-color: 
    rgba(255, 224, 179, 1);
    text-align: center;
    height: 100vh;
    position: sticky;
    top: 0;
}